<div class="flex flex-col h-full">
  <header class="p-2 flex items-center justify-center">
    <button mat-button [routerLink]="'/timer'" color="primary">
      <span class="uppercase tracking-normal">interval timer</span>
    </button>
    <nav class="ml-auto leading-none">
      <button [routerLink]="'/history'" mat-icon-button aria-label="History">
        <mat-icon class="material-icons-outlined">calendar_today</mat-icon>
      </button>
      <button [routerLink]="'/timer/config'" mat-icon-button aria-label="Configuration">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
      </button>
    </nav>
  </header>

  <div class="grow">
    <router-outlet/>
  </div>
</div>
