<div class="h-full p-5 pt-2.5 flex flex-col">
  <main class="grow flex items-center justify-center flex-col">
    <section
      [class.invisible]="(currentTimerStatus$ | async) !== TimerStatus.BREAK"
      class="w-full px-4 py-3 bg-gray-100 rounded-md">
      <div class="flex items-center">
        <span class="text-lg uppercase">Break</span>
        <span class="ml-auto flex items-center">
          <mat-icon
            *ngIf="(currentTimerStatus$ | async) === TimerStatus.BREAK"
            color="primary"
            class="mr-2.5 animate-pulse-fast duration-1000 material-icons-outlined">timer</mat-icon>
          <span class="text-2xl font-medium">{{ (currentBreakValue$ | async)! | formatTime }}</span>
        </span>
      </div>
    </section>

    <section
      class="grow flex items-center justify-center flex-col">
      <div class="h-32">
        <div *ngIf="(currentTimerStatus$ | async) === TimerStatus.NOT_LAUNCHED">
          <mat-icon class="!w-32 !h-32 text-9xl opacity-75 text-purple-800 material-icons-outlined">timer</mat-icon>
        </div>
        <div *ngIf="(currentTimerStatus$ | async) !== TimerStatus.NOT_LAUNCHED"
             class="text-9xl font-light">{{ (currentIntervalIndex$ | async)! + 1 }}</div>
      </div>
      <div class="text-3xl font-medium">{{ (currentIntervalValue$ | async)! | formatTime }}</div>
      <div class="text-gray-400 font-light">{{ (summaryTime$ | async)! | formatTime }}</div>
    </section>

    <section class="w-full">
      <mat-list>
        <ng-container *ngFor="let intervalItemTime of timerValues$ | async; index as idx">
          <mat-list-item
            class="!rounded-md"
            [class.!bg-gray-100]="(currentTimerStatus$ | async) === TimerStatus.RUNNING && (currentIntervalIndex$ | async)! === idx"
            [class.opacity-40]="(currentTimerStatus$ | async) === TimerStatus.RUNNING && (currentIntervalIndex$ | async)! > idx"
            [class.opacity-20]="(currentTimerStatus$ | async) === TimerStatus.RUNNING && (currentIntervalIndex$ | async)! < idx">
            <span class="flex text-xl">
              <span class="font-light">{{ idx + 1 }}</span>
              <span class="ml-auto flex items-center">
                <mat-icon *ngIf="(currentTimerStatus$ | async) === TimerStatus.RUNNING && (currentIntervalIndex$ | async)! === idx"
                          color="primary"
                          class="mr-2.5 animate-pulse-fast duration-1000 material-icons-outlined">timer</mat-icon>
                <span class="font-light">{{ intervalItemTime | formatTime }}</span>
              </span>
            </span>
          </mat-list-item>
        </ng-container>
        <mat-list-item>
          <span class="flex justify-end text-xl">
              <span class="font-medium">{{ (summaryTime$ | async)! | formatTime }}</span>
            </span>
        </mat-list-item>
      </mat-list>
    </section>
  </main>

  <footer class="mt-1 flex justify-center">
    <button
      *ngIf="(currentTimerStatus$ | async) === TimerStatus.NOT_LAUNCHED || (currentTimerStatus$ | async) === TimerStatus.STOPPED"
      (click)="onStartTimerClick()"
      mat-raised-button
      color="primary">
      Start timer
    </button>
    <button
      *ngIf="(currentTimerStatus$ | async) === TimerStatus.RUNNING && (currentIntervalIndex$ | async)! < (intervalCount - 1)"
      (click)="onNextIntervalClick()"
      mat-raised-button
      color="primary">
      Next interval
    </button>
    <button
      *ngIf="(currentTimerStatus$ | async) === TimerStatus.RUNNING && (currentIntervalIndex$ | async)! === (intervalCount - 1)"
      (click)="onStopTimerClick()"
      mat-raised-button
      color="primary">
      Stop interval
    </button>

    <button
      *ngIf="(currentTimerStatus$ | async) === TimerStatus.BREAK"
      (click)="onSkipBreakClick()"
      mat-raised-button
      color="warn">
      Skip break
    </button>

<!--    <button-->
<!--      *ngIf="(currentTimerStatus$ | async) === TimerStatus.RUNNING"-->
<!--      (click)="onPauseTimerClick()"-->
<!--      mat-raised-button-->
<!--      color="primary">-->
<!--      Pause-->
<!--    </button>-->

<!--    <button-->
<!--      *ngIf="(currentTimerStatus$ | async) === TimerStatus.BREAK"-->
<!--      (click)="onContinueTimerClick()"-->
<!--      mat-raised-button-->
<!--      color="primary">-->
<!--      Continue-->
<!--    </button>-->
  </footer>
</div>
